workflows/workflow-automation/Enrich Google Sheet contacts with Dropcontact-1304/workflow.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Dropcontact",
      "type": "n8n-nodes-base.dropcontact",
      "position": [
        650,
        300
      ],
      "parameters": {
        "email": "={{$json[\"email\"]}}",
        "options": {
          "siren": true,
          "language": "fr"
        },
        "additionalFields": {
          "company": "={{$json[\"companyName\"]}}",
          "website": "={{$json[\"website\"]}}",
          "linkedin": "={{$json[\"LinkedIn\"]}}",
          "full_name": "={{$json[\"fullName\"]}}",
          "last_name": "={{$json[\"lastName\"]}}",
          "first_name": "={{$json[\"firstName\"]}}"
        }
      },
      "credentials": {
        "dropcontactApi": {
          "id": "6",
          "name": ""
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://open.feishu.cn/open-apis/bitable/v1/apps/你的AppToken/tables/你的表格ID/records",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 你的飞书应用Token"
            }
          ]
        },
        "options": {},
        "notes": "原 Google Sheets → 飞书多维表格。切换: scripts/toggle_region.py"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "name": "Lemlist",
      "type": "n8n-nodes-base.lemlist",
      "position": [
        850,
        300
      ],
      "parameters": {
        "email": "={{$node[\"Dropcontact\"].json[\"email\"][0][\"email\"]}}",
        "resource": "lead",
        "campaignId": "",
        "additionalFields": {
          "lastName": "={{$node[\"Dropcontact\"].json[\"last_name\"]}}",
          "firstName": "={{$node[\"Dropcontact\"].json[\"first_name\"]}}",
          "companyName": "={{$node[\"Dropcontact\"].json[\"company\"]}}"
        }
      },
      "credentials": {
        "lemlistApi": {
          "id": "9",
          "name": "Lemlist account"
        }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Dropcontact": {
      "main": [
        [
          {
            "node": "Lemlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Dropcontact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_cn_meta": {
    "title_zh": "Enrich Google Sheet contacts with Dropcontact",
    "category": "workflow-automation",
    "tier": "B",
    "source_id": 1304,
    "synced_at": "2026-06-17T14:08:42.812119",
    "foreign_services": [
      "Google Sheets"
    ],
    "upgrade_note": "Google Sheets→飞书多维表格、Google Sheets→飞书多维表格",
    "description_zh": "表格处理",
    "replacements": {
      "": {
        "type": "n8n-nodes-base.googleSheets",
        "name": "Google Sheets",
        "parameters": {
          "range": "A:K",
          "options": {
            "continue": false
          },
          "sheetId": "",
          "authentication": "oAuth2"
        },
        "typeVersion": 1
      }
    }
  }
}