workflows/workflow-automation/Daily GBP exchange rate-4814/workflow.json
{
  "id": "1dDBLH3zWE4dDawo",
  "meta": {
    "instanceId": "a2eaba9e45ad7aab18b25cf863df1e910fb6dd3b85279bde97d9bae4a72f6862",
    "templateCredsSetupCompleted": true
  },
  "name": "Daily GBP exchange rate",
  "tags": [],
  "nodes": [
    {
      "id": "25a32967-fbef-40e9-baa6-c53dc7f69d85",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "6e2a8b57-c19d-40d5-9546-c904f4525728",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        220,
        0
      ],
      "parameters": {
        "url": "http://data.fixer.io/api/latest?access_key=30f059a57833bce0031c7d08bc3825c2&base=EUR&symbols=USD,AUD,CAD",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "00fade03-af5a-410f-9eea-b41c9863a98f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "// Contoh respons (biasanya didapat dari node HTTP Request)\nconst response = items[0].json;\n\n// Mulai tabel HTML\nlet html = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">\n  <thead>\n    <tr>\n      <th>Currency</th>\n      <th>Rate (vs GBP})</th>\n    </tr>\n  </thead>\n  <tbody>`;\n\n// Isi baris dari objek rates\nfor (const [currency, rate] of Object.entries(response.rates)) {\n  html += `<tr><td>${currency}</td><td>${rate}</td></tr>`;\n}\n\nhtml += `</tbody></table>`;\n\n// Kembalikan HTML sebagai output\nreturn [{ json: { htmlTable: html } }];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "d609281c-92cf-4d65-9ff7-44f4bd11cd0b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        -200
      ],
      "parameters": {
        "height": 140,
        "content": "## Instruction\n\nThis workflow send daily email to desired adress with exchnage rates for GBP."
      },
      "typeVersion": 1
    },
    {
      "id": "0ed73dfc-cb4f-460f-8819-4ecfd9848533",
      "name": "send email to adress",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        640,
        0
      ],
      "webhookId": "e9a0873c-8949-401c-9088-d240bb7de25a",
      "parameters": {
        "sendTo": "miha.ambroz@n8n.io",
        "message": "={{ $json.htmlTable }}",
        "options": {},
        "subject": "rates"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "VVLm2UzmGbMNTTNO",
          "name": "Gmail account 2"
        }
      },
      "typeVersion": 2.1,
      "_cn_adapted": {
        "action": "替换",
        "from": "Gmail",
        "to": "Email(SMTP)",
        "note": "需配置国内邮箱SMTP(QQ/网易/企业微信)"
      }
    },
    {
      "id": "63b058fd-c9a7-44ee-8356-d1731448922e",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        880,
        0
      ],
      "parameters": {
        "url": "https://open.feishu.cn/open-apis/bitable/v1/apps/你的多维表格AppToken/tables/你的表格ID/records",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 你的飞书应用Token"
            }
          ]
        },
        "options": {},
        "notes": "原 Google Sheets 节点已替换为飞书多维表格 HTTP 请求。请填入你的飞书应用凭证。"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KEkXl3MqpfWNarDZ",
          "name": "Google Sheets account 2"
        }
      },
      "typeVersion": 4.6
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a9a7ee5-89b5-4b1f-9670-2e7169782640",
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "send email to adress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_cn_meta": {
    "title_zh": "Daily GBP exchange rate",
    "category": "workflow-automation",
    "tier": "A",
    "source_id": 4814,
    "synced_at": "2026-06-17T14:08:30.068428",
    "foreign_services": [
      "Google Sheets",
      "Gmail"
    ],
    "upgrade_note": "Gmail→QQ邮箱/企业微信、Google Sheets→飞书多维表格、Google Sheets→飞书多维表格",
    "description_zh": "自动化工作流"
  }
}