workflows/devops/Set alert on the website changes-426/workflow.json
{
  "id": "1",
  "name": "Website check",
  "nodes": [
    {
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        400,
        300
      ],
      "parameters": {
        "url": "",
        "options": {},
        "responseFormat": "string"
      },
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        550,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"HTTP Request\"].json[\"data\"]}}",
              "value2": "Out Of Stock",
              "operation": "contains"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Discord",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        700,
        300
      ],
      "parameters": {
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/你的飞书机器人Webhook地址",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "{\"msg_type\": \"interactive\", \"card\": {\"header\": {\"title\": {\"tag\": \"plain_text\", \"content\": \"n8n 通知\"}}, \"elements\": [{\"tag\": \"markdown\", \"content\": \"消息内容\"}]}}"
            }
          ]
        },
        "options": {},
        "notes": "原 Discord → 飞书机器人 Webhook。切换: scripts/toggle_region.py"
      }
    },
    {
      "name": "Discord1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        700,
        450
      ],
      "parameters": {
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/你的飞书机器人Webhook地址",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "{\"msg_type\": \"interactive\", \"card\": {\"header\": {\"title\": {\"tag\": \"plain_text\", \"content\": \"n8n 通知\"}}, \"elements\": [{\"tag\": \"markdown\", \"content\": \"消息内容\"}]}}"
            }
          ]
        },
        "options": {},
        "notes": "原 Discord → 飞书机器人 Webhook。切换: scripts/toggle_region.py"
      }
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        210,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {
    "timezone": "America/Los_Angeles"
  },
  "connections": {
    "IF": {
      "main": [
        [],
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_cn_meta": {
    "title_zh": "Set alert on the website changes",
    "category": "devops",
    "tier": "A",
    "source_id": 426,
    "synced_at": "2026-06-17T14:19:19.573608",
    "description_zh": "告警通知",
    "replacements": {
      "": {
        "type": "n8n-nodes-base.discord",
        "name": "Discord1",
        "parameters": {
          "text": "value not found",
          "webhookUri": ""
        },
        "typeVersion": 1
      }
    }
  }
}