workflows/multimodal-ai/Automate Restaurant Marketing & Booking with Excel, VAPI Voice Agent & Calendar-5890/workflow.json
{
  "id": "iD8sbZKww1NpC3At",
  "meta": {
    "instanceId": "dd69efaf8212c74ad206700d104739d3329588a6f3f8381a46a481f34c9cc281",
    "templateCredsSetupCompleted": true
  },
  "name": "Automate Restaurant Marketing & Booking via Excel and VAPI Voice Agent",
  "tags": [],
  "nodes": [
    {
      "id": "61f3ed14-9be9-42bb-ac7b-90072005ebc1",
      "name": "New Lead Trigger (Excel)",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        -20,
        -220
      ],
      "parameters": {
        "event": "rowAdded",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1760068917,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkHJIhSFXdh1n65GKPwzEzFw0QasunyYm9BDglnXeiI/edit#gid=1760068917",
          "cachedResultName": "call_list"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1mkHJIhSFXdh1n65GKPwzEzFw0QasunyYm9BDglnXeiI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkHJIhSFXdh1n65GKPwzEzFw0QasunyYm9BDglnXeiI/edit?usp=drivesdk",
          "cachedResultName": "Vapi_real-estate"
        }
      },
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "BoDTTv5L67GVL3Fi",
          "name": "Google Sheets  - test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "de15cc25-830d-4efe-9265-685eef529094",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.set",
      "position": [
        200,
        -220
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "a10873fa-0c01-46ed-a364-d31200e44e76",
              "name": "Phone",
              "type": "string",
              "value": "=+{{ $json.Phone }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "22384d76-3c0d-4d3b-9e85-4e9d6a005e7f",
      "name": "Loop Through Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        420,
        -220
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "eea1ca56-260e-4f81-980a-6f2dd46e0667",
      "name": "Start Marketing Call (VAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        -220
      ],
      "parameters": {
        "url": "https://api.vapi.ai/call",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"assistantId\": \"add_id_here\",\n  \"phoneNumberId\": \"add_id_here\",\n  \"customers\": [\n    {\n      \"number\":\"{{ $json.Phone }}\"\n    }\n  ]\n}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth"
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "JzfcNGi2NYJB6wll",
          "name": "Bearer Auth account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "9addff6d-2a29-4f02-94a8-d76406987569",
      "name": "VAPI Call Response Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -20,
        40
      ],
      "webhookId": "a34ac7ac-7ea4-4942-8dbf-f9ce3f0986e4",
      "parameters": {
        "path": "a34ac7ac-7ea4-4942-8dbf-f9ce3f0986e4",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "9797586c-4313-4ce1-b58b-ec3e31cb705e",
      "name": "Store User Response (Sheet)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        200,
        40
      ],
      "parameters": {
        "url": "https://open.feishu.cn/open-apis/bitable/v1/apps/你的多维表格AppToken/tables/你的表格ID/records",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 你的飞书应用Token"
            }
          ]
        },
        "options": {},
        "notes": "原 Google Sheets 节点已替换为飞书多维表格 HTTP 请求。请填入你的飞书应用凭证。"
      },
      "credentials": {
        "googleApi": {
          "id": "ScSS2KxGQULuPtdy",
          "name": "Google Sheets- test"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "b5dbaaf8-c8e2-4dda-a3a0-862cf25bd659",
      "name": "Extract Booking/Order Info",
      "type": "n8n-nodes-base.code",
      "position": [
        420,
        40
      ],
      "parameters": {
        "jsCode": "function formatIST(date) {\n  const options = {\n    timeZone: 'Asia/Kolkata',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false\n  };\n  const parts = new Intl.DateTimeFormat('en-GB', options).formatToParts(date);\n  const lookup = {};\n  parts.forEach(p => lookup[p.type] = p.value);\n  return `${lookup.year}-${lookup.month}-${lookup.day} ${lookup.hour}:${lookup.minute}:${lookup.second} IST`;\n}\n\nfor (const item of items) {\n  let dateStr = item.json.date_input?.toLowerCase?.() || 'today';\n  let timeStr = item.json.time_input || '17:00'; // default to 5 PM\n\n  // Step 1: base date\n  let baseDate = new Date();\n  if (dateStr === 'tomorrow') {\n    baseDate.setDate(baseDate.getDate() + 1);\n  } else if (dateStr !== 'today') {\n    baseDate = new Date(dateStr);\n  }\n\n  // Step 2: parse time\n  const [timePart, ampm] = timeStr.trim().split(/ (AM|PM)/i);\n  let [hours, minutes] = timePart.split(':').map(Number);\n  if (ampm?.toLowerCase() === 'pm' && hours < 12) hours += 12;\n  if (ampm?.toLowerCase() === 'am' && hours === 12) hours = 0;\n\n  baseDate.setHours(hours, minutes || 0, 0, 0);\n\n  // Step 3: set IST formatted times\n  const startIST = formatIST(baseDate);\n  const endIST = formatIST(new Date(baseDate.getTime() + 60 * 60 * 1000)); // +1 hour\n\n  item.json.appointment_datetime_parsed = startIST;\n  item.json.appointment_end_datetime = endIST;\n}\n\nreturn items;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "74ca51eb-c7c3-4965-839e-db0e80f8dc02",
      "name": "Schedule Delivery/Table Booking",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        640,
        40
      ],
      "parameters": {
        "end": "={{ $json.appointment_end_datetime }}",
        "start": "={{ $json.appointment_datetime_parsed }}",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "abc@gmail.com"
        },
        "additionalFields": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6ldLmzzYtaqng4pw",
          "name": "Google Calendar account - test"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "d34f8054-9d1c-48fe-a6df-35e12a0d09a1",
      "name": "Send Response to VAPI",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        860,
        40
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "f1a84630-df6e-4f6f-8633-b60a712bbd82",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -540
      ],
      "parameters": {
        "color": 3,
        "width": 980,
        "height": 520,
        "content": "## Lead Management & Marketing Automation Workflow\n\n- New Lead Trigger: Excel triggers capture new leads when customers are added to the lead management spreadsheet\n\n- Lead Preparation: The system processes and formats lead data, extracting relevant details (name, phone, preferences, booking history)\n\n- Campaign Loop: Automated loop processes through multiple leads for batch marketing campaigns\n\n- Voice Marketing Call: VAPI initiates personalized voice calls to leads with tailored restaurant offers and booking invitations\n\n- Response Tracking: All call results and lead responses are logged back to Excel for campaign analysis\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "62f06ede-32ed-40fe-b40f-4887245e34f9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        0
      ],
      "parameters": {
        "width": 1240,
        "height": 500,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Booking & Order Processing Workflow\n\n- Voice Response Capture: VAPI webhook triggers when customers respond to marketing calls or make direct booking requests\n\n- Response Storage: Customer responses and booking preferences are immediately saved to Excel sheets\n\n- Information Extraction: System processes natural language responses to extract booking details (party size, preferred times, special requests)\n\n- Calendar Integration: Booking information is automatically scheduled in restaurant management systems\n\n- Confirmation Loop: Automated follow-up voice messages confirm bookings and provide additional restaurant information"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "dc998ee6-b2db-4413-8198-a94fc7ff539f",
  "connections": {
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Loop Through Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Leads": {
      "main": [
        [
          {
            "node": "Start Marketing Call (VAPI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Through Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Lead Trigger (Excel)": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Booking/Order Info": {
      "main": [
        [
          {
            "node": "Schedule Delivery/Table Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAPI Call Response Webhook": {
      "main": [
        [
          {
            "node": "Store User Response (Sheet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Response (Sheet)": {
      "main": [
        [
          {
            "node": "Extract Booking/Order Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Delivery/Table Booking": {
      "main": [
        [
          {
            "node": "Send Response to VAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_cn_meta": {
    "title_zh": "Automate Restaurant Marketing & Booking with Excel, VAPI Voice Agent & Calendar",
    "category": "multimodal-ai",
    "tier": "A",
    "source_id": 5890,
    "synced_at": "2026-06-17T14:19:46.776554",
    "foreign_services": [
      "Google Sheets",
      "Gmail"
    ],
    "upgrade_note": "Gmail→QQ邮箱/企业微信、Google Sheets→飞书多维表格、Google Sheets→飞书多维表格",
    "description_zh": "AI 智能体、API 接口、市场数据"
  }
}